<div class="container-fluid">
  <h1 class="text-center">New Article</h1>

  <%= render 'form', article: @article %>

  <div class="container-fluid my-3">
    <%= link_to 'Back', articles_path, class: 'btn btn-primary' %>
  </div>

</div>
